*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.7;
    color: #000;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.u-btn-reset {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: none;
}

/* Utilities */
.u-mb-15 {
    margin-bottom: 1.5rem;
}

.u-fz-2 {
    font-size: 2rem;
}

.u-fz-4 {
    font-size: 4rem;
}

.quote-container {
    width: auto;
    max-width: 90rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.long-quote {
    font-size: 3rem;
}

.author-text {
    font-size: 2.4rem;
    font-weight: 400;
    font-style: italic;
}

/* Buttons */
.button-container {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.button-container button {
    font-size: 2.4rem;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 0.5rem rgba(121, 121, 121, 0.65);
    border-radius: 1rem;
}

.button-container button:hover {
    filter: brightness(110%);
}

.button-container button:active {
    transform: translate(0, 0.5rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.fa-twitter {
    font-size: 4rem;
}

.twitter-button:hover {
    color: #38a1f3;
}

/* Loader Element */
.loader {
    border: 1.6rem solid #b8b3b3;
    border-top: 1.6rem solid rgb(56, 54, 54);
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media Query */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 1rem;
    }

    .quote-text {
        font-size: 2.8rem;
    }

    .fa-quote-left {
        font-size: 2.8rem;
    }

    .author-text {
        font-size: 1.8rem;
    }
}
